<footer class="bg-accent-500">
	<section class="py-4">
		<div class="container">
			<p class="text-sm text-center">
				<span>
					&copy;
					{{ 'now'|date('Y')|e }}
				</span>
				<span class="text-red-500">{{ config.site.title|e }}</span>
			</p>
		</div>
	</section>
</footer>
