<footer>
    <div class="container">
        <section>
            <div>
                <h4>About</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores veritatis consectetur optio voluptatum debitis ipsa magni eligendi fugit laudantium. Quo.</p>
            </div>
            <div>
                <h4>Tags</h4>
            </div>
            <div>
                <h4>Categories</h4>
            </div>
        </section>
        <section>
            <p>{{ 'now'|date('Y')|e }} Frontier Themes</p>
        </section>
    </div>
</footer>
