<footer>
    <section class="py-12 bg-accent-500">
        <div class="container">
            <div class="grid gap-8 md:grid-cols-3">
                <div>
                    <h4 class="mb-4 uppercase">About</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores veritatis consectetur optio voluptatum debitis ipsa magni eligendi fugit laudantium. Quo.</p>
                </div>
                <div>
                    <h4 class="mb-4 uppercase">Tags</h4>
                </div>
                <div>
                    <h4 class="mb-4 uppercase">Categories</h4>
                </div>
            </div>
        </div>
    </section>
    <section class="py-4">
        <div class="container">
            <p class="text-sm text-center">{{ 'now'|date('Y')|e }} Frontier Themes</p>
        </div>
    </section>
</footer>
