<header class="px-4 py-8">
    <a href="{{ ('' == base_url ? '/' : base_url)|e }}">
        <img
            src="{{ url('theme://images/logo-frontier-themes.png') }}"
            alt="{{ config.site.title|e }}"
            class="w-48 h-auto"
        >
    </a>
</header>
