{% extends "partials/base.html.twig" %}

{% block content %}
	<section class="pb-6">
		<div class="container">
			{% if page.collection is not empty %}
				<div class="grid gap-16 md:grid-cols-2 lg:grid-cols-3 md:gap-x-8 md:gap-y-16">
					{% for p in page.collection %}
						{% include "partials/article.html.twig" %}
					{% endfor %}
				</div>
			{% else %}
				<h1 class="text-3xl text-center md:text-4xl">There are no entries to show</h1>
			{% endif %}
		</div>
	</section>
	{% if config.plugins.pagination.enabled and page.collection.params.pagination %}
		<section class="pt-6 pb-12">
			<div class="container">
				{% include "partials/pagination.html.twig" with { base_url: page.url, pagination: page.collection.params.pagination } %}
			</div>
		</section>
	{% endif %}
{% endblock %}
