{% extends "partials/base.html.twig" %}

{% block content %}
	<section class="py-6 lg:py-12">
		<div class="container">
			<article class="max-w-screen-md mx-auto prose">
				{{ page.content|raw }}
			</article>
		</div>
	</section>
{% endblock %}
